export HUBOT_SLACK_TOKEN=
export HUBOT_AUTH_ADMIN=
export HUBOT_BOT_NAME=testbot
export HUBOT_LOG_LEVEL=debug
export PORT=8080
export TWILIO_ACCOUNT_SID=
export TWILIO_AUTH_TOKEN=
export TWILIO_FROM_NUMBER=
export TWILIO_ROOM=
#export EXPRESS_PASSWORD= -- broken using auth on proxy
#export EXPRESS_USER= -- broken using auth on proxy
export MEETUP_API_KEY=
export TREASURY_GROUP=